{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
        <h1>Creation d'un article</h1>
    {{ form_start(form) }}
    {{ form_row(form.title,{'attr':{'placeholder':"titre de l'article"}}) }}
    {{ form_row(form.category) }}
    {{ form_row(form.content,{'attr':{'placeholder':"contenu de l'article"}}) }}
    {{ form_row(form.image,{'attr':{'placeholder':"URL de l'image"}}) }}

    <button type="submit" class="btn btn-success">
        {% if edit %}
        Enregister
{% else %}

        Ajouter L'article</button>
{% endif %}

    {{ form_end(form) }}

{% endblock %}
